.App {
    display: grid;
    grid-template-areas: "nav page";
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 15% 1fr;
}

.Navigation {
    grid-area: nav;
}

.Page {
    grid-area: page;
    min-height: 100%;
    overflow-y: auto;
}

@media (max-width: 576px) {
    .App {
        grid-template-areas: "nav page";
        grid-template-columns: 0 1fr;
    }
}

